body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul
{
    padding: 0px!important;
}

.menu-principal
{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

.main-menu
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo
{
    float: left;
    padding: 16px;
    width: 75%;
}

.redes-sociais ul li
{
    margin-left: 22px;
    display: inline-block;
    float: left;
    list-style: none;
}

.redes-sociais
{
    width: 20%;
    float: right;
}

.header-segundario
{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-segundario
{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li 
{
    display: inline-block;
   color: #8b8b8b;
   margin-left: 15px;
   height: 45px;
}

.menu ul li:hover
{
    border-bottom: 2px solid #357bef;
}

.menu ul li a:hover
{
    color: #257bef;
}

.menu ul li a
{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.menu
{
    width: 70%;
    float: left;
}

.busca
{
    text-align: center;
    width: 30%;
    float: right;
}

.busca1
{
    width: 190px;
    font-size: 105%;
    padding: 10px;
    margin-top: 1px;
    margin-left: 5px;
    border-width: 0px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #d6d6d6;
}

.busca form button
{
    font-size: 105%;
    padding: 10px;
    border-width: 0px;
    border-radius: 0px 6px 6px 0px;
    margin-left: -5px;
    background-color: #257bef;
    border-left: 0px;
    border: 1px solid #d6d6d6;
}

.busca form button:hover
{
    cursor: pointer;
}

.coluna
{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev
{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 55%;
    left: 15%;
}

button.slick-next
{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 55%;
    right: 15%;
}

.slid-principal
{
    width: 100%!important;
}

.slick-dots li 
{
    font-size: 0px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: transparent;
    top: -30px;
    cursor: pointer;
}

ul.slick-dots li.slick-active
{
    background-color: #257bef;
}

.slogan
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.titulo-align h1
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 54px;
    text-align: center;
    color: #000000;
}

.cor-slogan
{
    color: #257bef;
}

.texto
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.titulo-align h2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: #000000;
}

.titulo-align p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #8b8b8b;
    margin-top: -35px;
}

.espaco
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.botao
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.botao-cor
{
    background-color: #257bef;
    color: #ffffff;
    box-shadow: 0 5px 0 #0b57bd;
}

.botao-cor:hover
{
    background-color: #0b57bf;
    color: #ffffff;
    border: none;
    box-shadow: 0 5px 0 #03449c;
}

.botao-cor:active
{
    position: relative;
    top: 5px;
    border: none;
    box-shadow: none;
}

.rodape
{
    width: 100%;
    background-color: #252323;
    height: 70px;
    float: left;
    position: relative;
    bottom: 0;
    top: 20px;
}

.main-rodape
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}



.redes-sociais-2 ul li
{
    margin-left: 22px;
    display: inline-block;
    float: left;
    list-style: none;
    margin-top: 10px;
}

.redes-sociais-2
{
    width: 20%;
    float: right;
}

.corp
{
    float: left;
    bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
    text-transform: uppercase;
    width: 75%;
}